<!--!DOCTYPE html>
<html lang="en"-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <style>
        #regaster_form {
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }

        .register_item {
            margin-bottom: 10px;
        }

    </style>

</head>
<body>
<h2>Registration</h2>
<div id="regaster_form">
    <form method="post" th:action="@{/register/add_user}" th:object="${user}">
    <input class="register_item" type="text" placeholder="username" th:field="*{login}">
    <br>
    <input class="register_item" type="text" placeholder="password" th:field="*{password}">
    <br>
    <input class="register_item" type="submit" value="Register">
    </form>
</div>
</body>
</html>
