<!--!DOCTYPE html>
<html lang="en"-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <style>
        #regaster_form {
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }

        .register_item {
            margin-bottom: 10px;
        }

        table {
            margin: 15px;
        }

        th {
            text-align: left;
        }

    </style>

</head>
<body>
<h2>Registration</h2>
<div id="regaster_form">
    <form method="post" th:action="@{/register/add_user}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <input class="register_item" type="text" placeholder="username" th:field="*{login}">
                </td>
                <td th:if="${#fields.hasErrors('login')}">
                    <p>field must be not empty</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="register_item" type="password" placeholder="password" th:field="*{password}">
                </td>
                <td th:if="${#fields.hasErrors('password')}">
                    <p>field must be not empty and from 2 characters</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="register_item" type="submit" value="Register">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
